@page "{handler?}/{id?}"
@model EShop.Pages.Cart

<h4>Кошик</h4>
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th>

            </th>
            <th>
                Назва
            </th>
            <th>
                Кількість
            </th>
            <th>Ціна</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="table-striped">
        @if (Model.ShoppingCart.CartItems != null && Model.ShoppingCart.CartItems.Count > 0)
        {
            @foreach (var item in Model.ShoppingCart.CartItems)
            {
                <tr>
                    <td class="align-middle">
                        @if (item.Item.Images != null && item.Item.Images.Count > 0)
                        {
                            <img class="img-thumbnail rounded management-list-image" src="data:image/jpg;base64,@Convert.ToBase64String(item.Item.Images?.FirstOrDefault()?.ImageData ?? Array.Empty<byte>())" alt="@item.Item.DisplayName"/>
                        }
                    </td>

                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Item.DisplayName)
                    </td>
                    <td class="align-middle">
                        <form class="form-inline" method="post" asp-page-handler="ChangeCount">
                            <input type="hidden" name="id" value="@item.Id"/>
                            <input class="form-control" type="number" name="NewQuantity" value="@item.Quantity" style="width: 80px"/>
                            <button type="submit" class="btn btn-outline-info ml-2">Змінити</button>
                        </form>
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Item.Price) * @Html.DisplayFor(modelItem => item.Quantity) = @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td class="align-middle">
                        <form method="post" asp-page-handler="RemoveFromCart" style="display: inline-block">
                            <input type="hidden" name="id" value="@item.Id"/>
                            <button type="submit" class="btn btn-outline-danger btn-block"> Видалити</button>
                        </form>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="align-middle text-center">
                    Кошик порожній
                </td>
            </tr>
        }
        <tr class="table-primary">
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td class="align-middle">
                <span class="font-weight-bold">Загальна вартість елементів в кошику</span>
            </td>

            <td class="align-middle">
                <span class="font-weight-bold">@Model.ShoppingCart.TotalPrice</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row justify-content-around w-100 mt-5">
        <div class="col-md-3">
            <a asp-page="/Index" class="btn btn-outline-primary"><i class="fas fa-arrow-left"></i> До каталогу</a>
        </div>
        <div class="col-md-3">
            @if (Model.ShoppingCart.CartItems?.Count > 0)
            {
                <a asp-page="/Order" asp-route-id="@Model.ShoppingCart.Id" class="btn btn-success">
                    Оформити замолення <i class="fas fa-arrow-right"></i>
                </a>
            }
            else
            {
                <button asp-page="/Order" asp-route-id="@Model.ShoppingCart.Id" class="btn btn-success" disabled>
                    Оформити замолення <i class="fas fa-arrow-right"></i>
                </button>
            }
            
        </div>
    </div>
</div>