@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Eshop - Ваш інтернет-магазин";
}

<div class="row">
    <div class="col-md-3 border border-primary rounded" style="padding: 1rem">
        <form method="post" asp-page-handler="Search">
        @*<partial name="./_ManageNav"/>*@
            <h5>Фільтри</h5>
        <section class="mb-4">
            <div class="filter-group">
                <div>
                    <div style="margin-bottom: 0">Виробник</div>
                    <a href="#" data-toggle="collapse" class="small" data-target="#collapse_manufacturers" data-abc="true" aria-expanded="true" class@*="collapsed"*@> 
                        (Показати / Приховати) <i class="icon-control fa fa-chevron-down"></i>
                    </a>
                </div>
                <div class="filter-content collapse show" id="collapse_manufacturers" style="">
                    @foreach (var item in Model.Manufacturers)
                    {
                        <div class="form-check">
                            <input type="checkbox" value=@item.Value class="form-check-input filled-in" name="SelectedManufacturers" id=@item.Value>
                            <label class="form-check-label small text-uppercase card-link-secondary" for=@item.Value>@item.Text</label>
                        </div>
                    }
                </div>
            </div>
            <hr/>
            <div class="filter-group">
                <div>
                    <div style="margin-bottom: 0">Операційна система</div>
                    <a href="#" data-toggle="collapse" class="small" data-target="#collapse_os" data-abc="true" aria-expanded="true" class@*="collapsed"*@> 
                        (Показати / Приховати)<i class="icon-control fa fa-chevron-down"></i>
                    </a>
                </div>
                <div class="filter-content collapse show" id="collapse_os" style="">
                    @foreach (var item in Model.OperatingSystems)
                    {
                        <div class="form-check">
                            <input type="checkbox" value=@item.Value class="form-check-input filled-in" name="SelectedOperatingSystems" id=@item.Value>
                            <label class="form-check-label small text-uppercase card-link-secondary" for=@item.Value>@item.Text</label>
                        </div>
                    }
                </div>
            </div>
            <hr/>
            <div class="filter-group">
                <div>
                    <div style="margin-bottom: 0">Об'єм оперативної пам'яті</div>
                    <a href="#" data-toggle="collapse" class="small" data-target="#collapse_ram" data-abc="true" aria-expanded="true" class="collapsed"> 
                        (Показати / Приховати)<i class="icon-control fa fa-chevron-down"></i>
                    </a>
                </div>
                <div class="filter-content collapse" id="collapse_ram" style="">
                    @foreach (var item in Model.RamList)
                    {
                        <div class="form-check">
                            <input type="checkbox" value=@item.Value class="form-check-input filled-in" name="SelectedRamList" id=@item.Value>
                            <label class="form-check-label small text-uppercase card-link-secondary" for=@item.Value>@item.Text</label>
                        </div>
                    }
                </div>
            </div>
            <hr/>
            <div class="filter-group">
                <div>
                    <div style="margin-bottom: 0">Об'єм внутрішньої пам'яті</div>
                    <a href="#" data-toggle="collapse" class="small" data-target="#collapse_rom" data-abc="true" aria-expanded="true" class="collapsed"> 
                        (Показати / Приховати)<i class="icon-control fa fa-chevron-down"></i>
                    </a>
                </div>
                <div class="filter-content collapse" id="collapse_rom" style="">
                    @foreach (var item in Model.RomList)
                    {
                        <div class="form-check">
                            <input type="checkbox" value=@item.Value class="form-check-input filled-in" name="SelectedRamList" id=@item.Value>
                            <label class="form-check-label small text-uppercase card-link-secondary" for=@item.Value>@item.Text</label>
                        </div>
                    }
                </div>
            </div>
            <hr/>
            <div class="filter-group">
                <div>
                    <div style="margin-bottom: 0">Об'єм батареї мАгод</div>
                    <a href="#" data-toggle="collapse" class="small" data-target="#collapse_battery" data-abc="true" aria-expanded="true" class="collapsed"> 
                        (Показати / Приховати)<i class="icon-control fa fa-chevron-down"></i>
                    </a>
                </div>
                <div class="filter-content collapse" id="collapse_battery" style="">
                    @foreach (var item in Model.BatteryCapacities)
                    {
                        <div class="form-check">
                            <input type="radio" value=@item.Value class="form-check-input filled-in" name="SelectedBatteryCapacity" id=@item.Value>
                            <label class="form-check-label small text-uppercase card-link-secondary" for=@item.Value>@item.Text</label>
                        </div>
                    }
                </div>
            </div>
            <hr/>
            <div style="margin-bottom: 0">Ціна</div>
            <div class="d-flex align-items-center mt-1 pb-0">
                <div class="md-form md-outline my-0">
                    <input id="from" type="number" name="MinPrice" class="form-control form-control-sm">
                    <label class="small" for="from">Від</label>
                </div>
                <p class="px-2 mb-0 text-muted"> - </p>
                <div class="md-form md-outline my-0">
                    <input id="to" type="number" name="MaxPrice" class="form-control form-control-sm">
                    <label class="small" for="to">До</label>
                </div>
            </div>
            <hr/>
            <div class="filter-group">
                <div>
                    <div style="margin-bottom: 0">Діагональ дисплея (в дюймах)</div>
                    <a href="#" data-toggle="collapse" class="small" data-target="#collapse_screenSize" data-abc="true" aria-expanded="true" class="collapsed"> 
                        (Показати / Приховати)<i class="icon-control fa fa-chevron-down"></i>
                    </a>
                </div>
                <div class="filter-content collapse" id="collapse_screenSize" style="">
                    @foreach (var item in Model.ScreenSizes)
                    {
                        <div class="form-check">
                            <input type="radio" value=@item.Value class="form-check-input filled-in" name="SelectedScreenSize" id=@item.Value>
                            <label class="form-check-label small text-uppercase card-link-secondary" for=@item.Value>@item.Text</label>
                        </div>
                    }
                </div>
            </div>
            <hr/>
            <div class="filter-group">
                <div>
                    <div style="margin-bottom: 0">Вага смартфону (в грамах)</div>
                    <a href="#" data-toggle="collapse" class="small" data-target="#collapse_weight" data-abc="true" aria-expanded="true" class="collapsed"> 
                        (Показати / Приховати)<i class="icon-control fa fa-chevron-down"></i>
                    </a>
                </div>
                <div class="filter-content collapse" id="collapse_weight" style="">
                    @foreach (var item in Model.Weights)
                    {
                        <div class="form-check">
                            <input type="radio" value=@item.Value class="form-check-input filled-in" name="SelectedWeight" id=@item.Value>
                            <label class="form-check-label small text-uppercase card-link-secondary" for=@item.Value>@item.Text</label>
                        </div>
                    }
                </div>
            </div>
            <hr/>
            <div style="margin-bottom: 0">Додаткові характеристики</div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input filled-in" name="HasNFC" asp-for="HasNFC" id="HasNFC">
                <label class="form-check-label small text-uppercase card-link-secondary" for="HasNFC">NFC</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input filled-in" name="HasSdCardSlot" asp-for="HasSdCardSlot" id="HasSdCardSlot">
                <label class="form-check-label small text-uppercase card-link-secondary" for="HasNFC">Слот SD-карти</label>
            </div>
        </section>
        <input type="submit" value="Шукати" class="btn btn-primary"/>
        </form>
    </div>
    <div class="col-md-9" >
       
    </div>
</div>

