@page "{id:Guid}"
@model EShop.Pages.Order
<h4 class="mb-4">Оформлення замовлення</h4>
<div class="row" style="margin-left: 0; margin-right: 0;">
    <h5>Товари</h5>
    <table class="table">
        <thead>
        <tr>
            <th>

            </th>
            <th>
                Назва
            </th>
            <th>
                Кількість
            </th>
            <th>Ціна</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="table-striped">
        @foreach (var item in Model.ShoppingCart.CartItems)
        {
            <tr>
                <td class="align-middle">
                    @if (item.Item.Images != null && item.Item.Images.Count > 0)
                    {
                        <img class="img-thumbnail rounded management-list-image" src="data:image/jpg;base64,@Convert.ToBase64String(item.Item.Images?.FirstOrDefault()?.ImageData ?? Array.Empty<byte>())" alt="@item.Item.DisplayName"/>
                    }
                </td>

                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Item.DisplayName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
            </tr>
        }
        <tr class="table-primary">
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td class="align-middle ">
                <span class="font-weight-bold">Загальна вартість:</span>
            </td>

            <td class="align-middle">
                <span class="font-weight-bold">@Model.ShoppingCart.TotalPrice</span>
            </td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <form method="post" class="row mt-5">
        <input type="hidden" asp-for="ShoppingCartId" value="@Model.ShoppingCart.Id">
        <div class="col-sm">
            
        
            <h5>Спосіб доставки</h5>
            <fieldset class="form-group">
                <div class="row">
                    <div class="col-sm-10">
                        @foreach (var shippingType in Model.ShippingTypes)
                        {
                            <div class="row border border-primary rounded align-middle mb-4 p-2" style="min-height: 100px; cursor: pointer" onclick="$('#@shippingType.Id').prop('checked', true).change();">
                                <div class="col-sm-2 d-flex">
                                    <input class="my-auto" type="radio" name="ShippingTypeId" id="@shippingType.Id" value="@shippingType.Id">
                                </div>
                                <div class="col-sm-8 d-flex">
                                    <label class="my-auto" for="@shippingType.Id">
                                        <span class="font-weight-bold">@shippingType.Name</span><br/>
                                        @shippingType.Description
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </fieldset>
            <h5>Оплата</h5>
            <fieldset class="form-group ">
                <div class="row w-100">
                    <div class="col-sm-10">
                        @foreach (var paymentType in Model.PaymentTypes)
                        {
                            <div class="row border border-primary rounded align-middle mb-4 p-2" style="min-height: 100px; cursor: pointer" onclick="$('#@paymentType.Id').prop('checked', true).change();">
                                <div class="col-sm-2 d-flex">
                                    <input class="my-auto" type="radio" name="PaymentTypeId" id="@paymentType.Id" value="@paymentType.Id">
                                </div>
                                <div class="col-sm-8 d-flex">
                                    <label class="my-auto" for="@paymentType.Id">
                                        <span class="font-weight-bold">@paymentType.Name</span><br/>
                                        @paymentType.Description
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="btn-lg btn-success">Підтвердити</button>
        </div>
        <div class="col-sm">
            <h5>Дані замовника</h5>
            <p class="mb-3"><span class="font-weight-bold">ПІБ:</span> @Model.CurrentUser.LastName @Model.CurrentUser.FirstName @Model.CurrentUser.SecondName</p>
            <p class="mb-3"><span class="font-weight-bold">Email:</span> @Model.CurrentUser.Email</p>
            <p class="mb-3"><span class="font-weight-bold">Телефон:</span> @Model.CurrentUser.PhoneNumber</p>
            <p class="mb-3"><span class="font-weight-bold">Адреса:</span> @Model.CurrentUser.AddressText</p>
        </div>
        
    </form>
</div>