@page
@model EShop.Pages.Management.Products.Index


<h2>Students</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="Model.NameSort">
                    Назва
                </a>
            </th>
            <th>
                Зображення
            </th>
            <th>
               Опис
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="Model.DateSort">
                    Ціна
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td class="align-middle">
                    <img class="img-thumbnail rounded management-list-image" src="data:image/jpg;base64,@Convert.ToBase64String(item.Images.FirstOrDefault()?.ImageData ?? Array.Empty<byte>())" alt="@item.DisplayName" />
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="align-middle">
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>